
#hutIntro {
    /*margin: 10px 40px;*/
    display: grid;
    grid-template-columns: minmax(500px, 3fr) 1fr;
    grid-gap: 10px;
}

#hutIntroImg {
    width: 100%;
    grid-
}

#hutIntro h1 {
    grid-column: span 2;
}

