
/* Info page specific CSS styling */

h1 {
    margin-left: 40px;
}

/* Membership area */
#infoArea {
    margin: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
}

#membText {
    grid-column: 1 / span 2;
    margin-right: 20px;
}

#membImg {
    grid-column: 3;
    justify-self: center;
    margin-top: 5px;
}

/* Address area */
#addressImg {
    width: 300px;
    height: 200px;
}

#addressArea {
    /*grid-row: 2;*/
    grid-column: span 3;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#addressText {
    display: inline-block;
}

#addressText h2 {
    margin-top: 10px;
}

#addressText ul {
    list-style: none;
    font-weight: bold;
}

/* Board members area */
#boardArea {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 30px;
    padding: 0 100px;
}

#boardArea h2 {
    grid-column: span 2;
    margin-bottom: 0;
    margin-top: 0;
}

#boardArea img {
    margin-left: 30px;
    justify-self: end;
}
