
/* Meets page specific CSS styling */
#filterArea {
    display: grid;
    /*grid-template-columns: 120px auto  minmax(100px, 300px);*/
    grid-template-columns: 120px minmax(460px, 600px) auto minmax(200px, 300px);
    grid-template-rows: 170px 100px ;
    grid-gap: 10px;
    margin: 10px 40px;
}

#meetsIntro {
    grid-column: span 3;
}

#meetsIntroImage {
    justify-self: center;
    align-self: center;
    grid-row: 1 / span 2;
    /*grid-row: span 2;*/
    grid-column: 4;
    width: 90%;
    margin-top: 10px;
}

#filterArea h2 {
    margin-bottom: 0;
}

/*#filterArea :nth-child(1) {*/
/*    row-span: 2;*/
/*}*/

/*#filterArea :nth-child(4) {*/
/*    justify-self: end;*/
/*}*/

#filterBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    padding: 10px;
    margin: 10px 20px 20px 5px;
    box-shadow: 0 0 0 5px black, 15px 15px limegreen;
    height: 70px;
    grid-row: 2;
    grid-column: 2;
}

/*#meetsArea {*/
/*    grid-row: 3;*/
/*    grid-column: span 4;*/
/*}*/

#meetsArea span {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 8px;
    /*margin-top: 10px;*/
}

#meetsArea h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#meetsMonth {
    grid-column: span 2;
}

.meetBox {
    border-style: dotted;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
}

.meetBox h3 {
    margin-top: 0;
}

.meetBoxImage {
    float: right;
    width: 200px;
    height: 200px;
    margin: 2px 5px 5px 4px;
    box-shadow: 0 0 0 3px black, 8px 8px darkorange;
}

.meetPrice {
    font-weight: bold;
}

.meetBoxIcon {
    margin-right: 5px;
}

.meetTags {
    color: orange;
    font-weight: bold;
    box-shadow: 0 0 0 3px black;
    background-color: black;
    display: inline-block;
    margin-top: 0;
}

.navArrow {
    font-size: 60px;
    font-weight: bold;
    color: orange;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 20px;
}

#navArrows {
    grid-row: 2;
    grid-column: 1;
}

.navArrow:hover {
    color: black;
}