/* remove sidebar when viewport < 900 */
/* TODO: generally make this good! */
@media screen and (max-width: 900px) {
    #sideBar {
        display: none;
    }
}

/* Reset */
* {
    font-family: Arial, helvitca, sans-serif;
    color: black;
    box-sizing: border-box;
}

h2 {
    text-decoration: underline;
}

h3 {
    margin-bottom: 2px;
}

/* HIGHLIGHTING ALL DIVS */
div {
    /*border-style: dotted ;*/
}

.boxImage {
    box-shadow: 0 0 0 5px black, 15px 15px darkorange;
    margin: 0px 10px 10px 0px;
}

/* Header Section */
header {
    display: grid;
    grid-template-columns: 200px minmax(300px, 1fr);
    background-color: black;
    height: 100px;
}

#logo {
    font-size:  80px;
    margin-left: 15px;
}

#logo a {
    color: limegreen;
}

header a {
    color: white;
    font-weight: bold;
}

header ul {
    list-style: none;
    justify-self: end;
    align-self: end;
}

header li {
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
}

html {
    display: grid;
    grid-template-columns: minmax(900px, 1300px);
}

/* Body Section */
#mainContentWrapper {
    padding: 10px 20px;
}

#mainContent_topSection {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 300px;
    grid-gap: 10px;
    border: none;                           /* todo: remove when not highlighting divs */
    margin-bottom: 50px;
}

#mainContent_bottomSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    border: none;                           /* todo: remove when not highlighting divs */
    padding: 0px 50px;
}

#mainContent_bottomSection img {
    margin-top: 10px;
}

#mainContent_bottomSection :nth-child(2), #mainContent_bottomSection :nth-child(3) {
    grid-column: span 2;

}

#mainContent_bottomSection h2, #mainContent_bottomSection p {
    padding: 0px 10px;
}

/* Align image in the centre of it's wrapper div */
.imageWrapper {
    text-align: center;
}

#carousel {
    margin-right: 15px;
}
.carouselImg {
    width: 100%;

}

/* Side-bar section */
#sideBar {
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    padding: 10px;
    margin: 10px 0px 10px 10px;
    box-shadow: 0 0 0 5px black, 15px 15px limegreen;
    /*display: none;*/
}

#sideBar div {
    /*height: 120px;*/
    border-style: dotted;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
}

#sideBar p {
    margin-top: 3px;
}

#sideBar h2 {
    margin-bottom: 10px;
    margin-top: 2px;
    text-align: center;
}

#sideBar h3 {
    margin-top: 0;
}

#sideBar #meetsButton {
    width: 150px;
    height: 80px;
    margin-top: 15px;
    text-align: center;
    padding-top: 3px;
    font-weight: bold;
    font-size: 30px;
    border-style: solid;
    border-radius: 9px;
    margin-right: auto;
    margin-left: auto;
}

#sideBar #meetsButton:hover {
    background-color: limegreen;
}

#meetsButton a {
    display: block;
    text-decoration: none;
}

/* Footer Section */
footer {
    background-color: black;
    margin-top: 20px;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

footer ul {
    list-style: none;
    /*text-align: center;    */
}

footer li {
    display: inline-block;
    /*padding-right: 100px;*/
}

footer a {
    color: white;
}

footer img {
    box-shadow: none;
}

.footerText {
    /*margin-top: 20px;*/
}